@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la web de peliculas</h1>
    <ul style=" list-style: none">
        <li>Guarda tus peliculas favoritas</li>
        <li>Mira las reseñas de las peliculas que quieres ver</li>
        <li>Califica las peliculas que viste</li>
    </ul>
    <form method="get">
        <button class="btn-primary" asp-controller="Login" asp-action="Index">
            Iniciar Sesion

        </button>
        </form>

</div>
